
body {
  background-color: #f0edce;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Sanchez', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Share', cursive;
  font-family: 'Mitr', sans-serif;
  font-family: 'Timmana', sans-serif;
}

/*Header*/ 
.container-fluid {
  background-color: #f0edce;
}

.navbar {
  border: none;
}

.navbar-nav {
  background-color: #f0edce;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 100%;
}

.navbar-default .navbar-brand {
    color: #69bcc5;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #69bcc5;
}

.navbar-brand {
  float: left;
  font-family: 'Lobster', cursive;
  font-family: 'Fontdiner Swanky', cursive;
  font-family: 'Pattaya', sans-serif;
  font-family: 'Galada', cursive;
  font-size: 400%;
  line-height: 140%;
}

a.nav-brand {
  font-color: #69bcc5;
}

ul#navList {
  font-size: 110%;
  font-family: 'Purple Purse', cursive;
  padding: 35px 5% 5% 5%;
}


#myLinks a:visited {
  color: #e95628;
}

#register a:link {
  color: #69bcc5;
  border: 2px solid white;
  margin: -1px 0px -1px 10px;
}


#myLinks a:hover { 
  color: #69bcc5;
  text-decoration: none;
}



#login a:link, #login a:visited, #logout a:link, #logout a:visited {
  color: #eec35e;
  background-color: #fff;
  padding: 12px;
}

#login a:hover, #logout a:hover {
  color: #69bcc5;
}


.nav>li {
  margin: 0px 10px;
}




button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 100%;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 17px;
    margin-right: 4%;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
}



/* main content */

#searchBlock {
    padding-top: 10%;
}

#location, #keyWord, #categories {
    border: none;
}

/* xxs */
@media (max-width: 321px) {
  
  /* header */
  .navbar-brand {
    font-size: 300%;
  }
  .navbar-toggle {
    padding: -2px 8px 0px 8px;
    font-size: 190%;
  }
  /* main content */
}



/* xs 767px and below */
@media (max-width: 767px){

  /* header */
  .navbar-brand {
    padding-left: 7%;
  }

  #myLinks {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-top-width: 0px;
    margin-left: 0px;
    width: 100%;
    background-color: transparent;
    color: #69bcc5;
    text-align: center;
  }
  #myLinks a:link, #myLinks a:visited {
  color: #69bcc5;
  background-color: transparent;
  border-top: 2px #fff solid;
  }
  
  #myLinks a:hover { 
  color: #ecc15e;
  text-decoration: none;
  }

   #register a:link, #userPage a:link {
    border: none;
    margin: 0px 0px 0px 0px;
    border-top: 2px #fff solid;
  }

  ul.navbar-right {
    padding-right: 0px;
  }
  ul.nav, ul.navbar-nav {
    margin-top: 0px;
    padding-top: 0px;
  }
  #eventSearch a:link {
    border-top: none;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

}

/* xs 767px and below */
@media (max-width: 767px){

  /* header */
  .navbar-brand {
    padding-left: 7%;
  }



/* sm 768-991 */

@media (min-width: 768px) and (max-width: 991px) {
  
  /* header */

  .navbar-brand {
    padding-left: 0;
  }

  .navbar > .container-fluid .navbar-brand {
    margin-left: 6%;
  }

 
}

/* md 992-1199 */
@media (min-width: 992px) and (max-width: 1199px) {
  

}

/* lg 1200 and more */
@media (min-width: 1200px) {
  
 
 
}


 