{% extends 'base.html' %}
{% block content %}

<h1>Welcome!</h1>
<br>
<br>
Find and event
<br>
<form id='searchForm' action="/search" name="cat_id">
    Where:
    <input type="text" name="location" id='location'>
    Keyword:
    <input type="text" name="keyWord" id='keyWord'>
    <select name="cat_id">
        <option value="categories" name="category">Categories</option>
        {% for category in cats %}
            <option  value="{{ category.c_id }}">{{ category.cat }}</option>
        {% endfor %}
    </select>
    <button type="submit">submit</button>
</form>


{% endblock %}