{% extends 'base.html' %}
{% block content %}

<h1>{{ user.email }} ({{ user.user_id }})</h1>
<h2>Saved Events:</h2>
{% for nightout in saved_nights %}
    <div class="single-event">
    {% if nightout.event_id %}
        <div>{{nightout.event.e_name}}</div>
        <a href="{{ nightout.event.e_link }}">Link</a>
        <div>{{nightout.event.e_description}}</div>
        <div class="location">{{nightout.event.e_location}}</div>
        <span class="nightoutId" hidden>{{nightout.no_id}}</span>
        <button class="deleteEventBtn">Delete this Event</button>
        {% if not nightout.res_id %}
            <button id="{{nightout.event.event_id}}" class="resBtn">Choose a Restaurant</button>
            <div class="restaurants"></div>
        {% else %}
            <div class="savedRestaurantDiv">
                <div class="savedRestaurantName">{{nightout.restaurant.r_name}}</div>
                <div class="savedRestaurantLocation">{{nightout.restaurant.r_location}}</div>
            </div>
            <button id="{{nightout.res_id}}" class="deleteResBtn">Delete This Restaurant</button>
        {% endif %}
    {% endif %}
    </div>
    


{% endfor %}

{% endblock %}