{% extends 'base.html' %}
{% block content %}
<div id="userContainer" class="container">
<!-- <h1>{{ user.email }} ({{ user.user_id }})</h1> -->
  <h2>Saved Plans:</h2>
  {% for nightout in saved_nights %}
      <div class="single-event">
      {% if nightout.event_id %}
          <h4><div class="savedEvtName">{{nightout.event.e_name}}</div></h4>
          <a class="savedEvtLink" href="{{ nightout.event.e_link }}" target="_blank">Eventbrite Link</a>
          <div>{{nightout.event.e_description}}</div>
          <div class="location">{{nightout.event.e_location}}</div>
          <span class="nightoutId" hidden>{{nightout.no_id}}</span>
          <button class="deleteEventBtn">Delete this Event</button>
          {% if not nightout.res_id %}
              <button id="{{nightout.event.event_id}}" class="resBtn">Choose a Restaurant</button>
              <div class="restaurants"></div>
          {% else %}
              <div class="savedRestaurantDiv">
                  <div class="savedRestaurantName">{{nightout.restaurant.r_name}}</div>
                  <div class="savedRestaurantLocation">{{nightout.restaurant.r_location}}</div>
              </div>
              <button id="{{nightout.res_id}}" class="deleteResBtn">Delete This Restaurant</button>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary inviteBtn" data-toggle="modal" data-target="#exampleModal">
                Invite A Friend
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Rocket off an invite to</h5>
                      <form class="inviteeEmails">
                        <input type="email" class="inviteeEmail" name="inviteeEmail">
                      </form>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="eventName"></div>
                      <br>
                      <div class="eventScript"></div>
                      <div class="evtLocation"></div>
                      <br>
                      <div>I thought we could eat at:</div>
                      <div class="restName"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="modalSendBtn" data-dismiss="modal">Send</button>
                    </div>
                  </div>
                </div>
              </div>

          {% endif %}
      {% endif %}
      
      </div>
      


  {% endfor %}
</div>

{% endblock %}